html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper {
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: [intro] 1024px [stories] 3072px;
    grid-template-rows: [story-1] 768px [story-2] 768px;
    width: 4096px;
    height: 1536px;
}

#intro {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#top-story {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#bottom-story {
    grid-column-start: 2;
    grid-row-start: 2;
}

img {
    width: 100%;
    height: 100%;
}