* {
    box-sizing:border-box;
}

body, html {
    width: 300vw;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
/* index.html */
#wrapper-intro {
    display: flex;
    flex-direction: row;
    background: #777;
    /* background: url('http://via.placeholder.com/1366x786') no-repeat; */
    background-size: 100%;
    width: 1490px;
    height: 960px;
}

#wrapper-intro > a {
    text-decoration: none;
    width: 40%;
    margin: 10% auto;
}

.card {
    background-color: #fff;
    color: #333;
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
}

.card img {
    width: 100%;
}

.card > h3 {
    font-family: sans-serif;
    font-size: 3em;
    padding: 5% 5%;
    margin: 0;
    text-align: center;
}

/* spice select */
#spice-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    background: #555;
    /* background: url('http://via.placeholder.com/1366x786') no-repeat; */
    background-size: 100%;
    width: 1490px;
    height: 880px;
}

#spice-select::-webkit-scrollbar {
    width: 0;
}

#spice-select > h2 {
    font-family: sans-serif;
    font-size: 3em;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 1%;
}

.spice {
    background-color: #fff;
    color: #333;
    width: 30%;
    margin: 1% auto;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
}

.spice img {
    width: 100%;
}

.spice > h3 {
    font-family: sans-serif;
    font-size: 2em;
    padding: 5% 5%;
    margin: 0;
    text-align: center;
}

.dir {
    font-family: sans-serif;
    text-align: center;
    font-size: 1em;
    background-color: #999;
    color: #fff;
    width: 38%;
    margin: 2% auto;
    height: auto;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
}

canvas {
    margin-top: -2%;
    transform: rotate(90deg);
}

/* Textile */
#textile {
    background-color:#f7f7f7;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1960px;
    height: 960px;
}

.textile-ver {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 960px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    z-index: 1;
}

.textile-hor {
    position: absolute;
    top: 0;
    left: 0;
    width: 1490px;
    height: 960px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    z-index: 2;
}

.ver {
    background-color: #B2B081;
    width: 75px;
    height: 960px;
    margin-left: 30px;
    flex-direction: row;
}

.thread {
    z-index: 10;
}

/* User Info */

#user-info {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #d7d7d7;
    height: 300px;
    width: 100%;
    z-index: 10;
    color: #333;
    font-family: sans-serif;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
}

/* Test elements */

#mix-colors {
    font-family: sans-serif;
    background-color: #eee;
    color: #333;
    font-size: 2em;
    padding: 10px;
    margin: 30px auto;
    text-align: center;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
}