* {
    box-sizing:border-box;
}

body, html {
    width: 300vw;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
/* index.html */
#wrapper-intro {
    display: flex;
    flex-direction: row;
    background: #777;
    /* background: url('http://via.placeholder.com/1366x786') no-repeat; */
    background-size: 100%;
    width: 1490px;
    height: 960px;
}

#wrapper-intro > a {
    text-decoration: none;
    width: 40%;
    margin: 10% auto;
}

.card {
    background-color: #fff;
    color: #333;
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
}

.card img {
    width: 100%;
}

.card > h3 {
    font-family: sans-serif;
    font-size: 3em;
    padding: 5% 5%;
    margin: 0;
    text-align: center;
}

/* spice select */
#spice-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    background: #555;
    /* background: url('http://via.placeholder.com/1366x786') no-repeat; */
    background-size: 100%;
    width: 1490px;
    height: 880px;
}

#spice-select::-webkit-scrollbar {
    width: 0;
}

#spice-select > h2 {
    font-family: sans-serif;
    font-size: 3em;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 1%;
}

.spice {
    background-color: #fff;
    color: #333;
    width: 30%;
    margin: 1% auto;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
}

.spice img {
    width: 100%;
}

.spice > h3 {
    font-family: sans-serif;
    font-size: 2em;
    padding: 5% 5%;
    margin: 0;
    text-align: center;
}

.dir {
    font-family: sans-serif;
    text-align: center;
    font-size: 1em;
    background-color: #999;
    color: #fff;
    width: 38%;
    margin: 2% auto;
    height: auto;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
}

canvas {
    margin-top: -2%;
    transform: rotate(90deg);
}

/* Textile */
#textile {
    background-color: #ccc;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1490px;
    height: 960px;
}

.textile-ver {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.textile-hor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ver {
    display: none;
    width: 100px;
    height: 100%;
    margin-left: .5%;
    margin-right: .5%;
    flex-direction: column;
}

.hor {
    display: none;
    width: 100%;
    height: 100px;
    margin-top: .5%;
    margin-bottom: .5%;
    flex-direction: row;
}
/* Test elements */
#test-strip {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 1%;
}

#mix-colors {
    font-family: sans-serif;
    background-color: #eee;
    color: #333;
    font-size: 2em;
    padding: 10px;
    margin: 30px auto;
    text-align: center;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
    box-shadow: 0px 0px 4px 0px rgba(51,51,51,1);
}