body{
	background-color: #e2d1c1;
	color: #72716E;
}

#bg{
	text-align: center;
	position: absolute;
}

#bg img{
	z-index: 1;
	width: 74%;
}

/*LEFT CART*/
#left-active img{
	width: 145%;
}

#left-lantern img{
	width: 63%;
}

#cart-L-container{
	position: relative;
	width: 320px;
	height: 500px;
	top: 460px;
	left: 393px;
	z-index: 2;
}

#cart-L{
	position: relative;
	width: 320px;
	height: 500px;
	top: -55px;
	left: 393px;
}

#left-active{
	position: absolute;
	opacity: 0;
	top: -60px;
	left: -85px;
}

#left-lantern{
	position: absolute;
	text-align: center;
}

#cart-L-container:hover{
	cursor: pointer;
}

#cart-L-container:hover ~ #cart-L > #left-active{
	opacity: 1;
	-webkit-transition: .75s;
	transition: .75s;
}

/*MIDDLE CART*/
#mid-active img{
	width: 110%;
}

#mid-lantern img{
	width: 42%;
}

#cart-M-container{
	position: relative;
	width: 420px;
	height: 420px;
	top: -470px;
	left: 765px;
	z-index: 2;
}

#cart-M{
	position: relative;
	width: 420px;
	height: 420px;
	top: -900px;
	left: 765px;
}

#mid-active{
	position: absolute;
	opacity: 0;
	top: -65px;
	left: -200px;
}

#mid-lantern{
	position: absolute;
	left: -35px;
}

#cart-M-container:hover{
	cursor: pointer;
}

#cart-M-container:hover ~ #cart-M > #mid-active{
	opacity: 1;
	-webkit-transition: .75s;
	transition: .75s;
}

/*RIGHT CART*/
#right-active img{
	width: 111%;
}

#right-lantern img{
	width: 55%;
}

#cart-R-container{
	position: relative;
	width: 320px;
	height: 450px;
	top: -1350px;
	left: 1215px;
	z-index: 2;
}

#cart-R{
	position: relative;
	width: 320px;
	height: 450px;
	top: -1800px;
	left: 1215px;
}

#right-active{
	position: absolute;
	opacity: 0;
	left: -230px;
	top: -48px;
}

#right-lantern{
	position: absolute;
	left: -45px;
}

#cart-R-container:hover{
	cursor: pointer;
}

#cart-R-container:hover ~ #cart-R > #right-active{
	opacity: 1;
	-webkit-transition: .75s;
	transition: .75s;
}

/*
.vid{
	display: none;
	position: absolute;
	top: 5%;
	left: 32%;
}

#cart-L-container:hover ~ #cart-L-vid > #left-vid{
	display: block;
}
*/

/*
.vid-btn{
	cursor: pointer;
	width: 150px;
	height: 50px;
	font-size: 23px;
	font-weight: bold;
	border: 5px solid black;
}

.vid-btn:hover{
	background-color: black;
	color: #DDDBD9;
}
*/
