body{
	background-color: #e2d1c1;
	color: #72716E;
}

#bg{
	text-align: center;
}

#bg img{
/*
	background-image: url(img/mural-bg.png);
	background-repeat: no-repeat;
	width: 4032px;
	height: 3024px;
	margin: auto;
*/
	
	z-index: 1;
	width: 74%;
}

.cart img{
	width: 145%;
}

.lantern img{
	width: 63%;
}

#bg{
	position: absolute;
}

#cart-L{
	/*border: 1px solid black;*/
	position: relative;
	width: 320px;
	height: 500px;
	top: 448px;
	left: 395px;
}

#left-active{
	position: absolute;
	z-index: 2;
	opacity: 0;
	top: -55px;
	left: -85px;
}

#left-lantern{
	position: absolute;
	z-index: 2;
	text-align: center;
}

#cart-L:hover{
	cursor: pointer;
}

#cart-L:hover #left-active{
	opacity: 1;
	-webkit-transition: .75s;
	transition: .75s;
}

/*
#mid-active{
	position: absolute;
	z-index: 2;
	top: 43.5%;
	left: 25%;
	opacity: 0;
}

#mid-active:hover{
	opacity: 1;
	-webkit-transition: .75s;
	transition: .75s;
	cursor: pointer;
}

#right-active{
	position: absolute;
	z-index: 2;
	top: 48.4%;
	left: 62.2%;
	opacity: 0;
}

#right-active:hover{
	opacity: 1;
	-webkit-transition: .75s;
	transition: .75s;
	cursor: pointer;
}

.cart:hover + .vid{
	display: block;
}

.vid{
	display: none;
	position: absolute;
	top: 5%;
	left: 32%;
}

.vid-btn{
	cursor: pointer;
	width: 150px;
	height: 50px;
	font-size: 23px;
	font-weight: bold;
	border: 5px solid black;
}

.vid-btn:hover{
	background-color: black;
	color: #DDDBD9;
}*/
