body{
	background-color: #faf0e8;
	color: #72716E;
	overflow: hidden;
	cursor: none;
}

/*****BROWSER SETTINGS*****/
/*MOUSE SELECTION*/
::-moz-selection {
  background-color: transparent;
	color:#000;
}

::selection {
  background-color: transparent;
	color:#000;
}

/*MURAL*/
/* body{
	cursor: url("img/custom-cursor.png"), auto;
} */

#bg{
	text-align: center;
	position: absolute;
}

#bg img{
	z-index: 1;
	width: 57%;
}

#archway img{
	z-index: 9;
	width: 100%;
}

#archway{
	position: absolute;
	top: -10px;
	left: -10px;
}

#brick img{
	z-index: 9;
	width: 102%;
}

#brick{
	position: absolute;
	top: -10px;
	left: -20px;
}

/*PAPER LANTERN ANIMATION*/
#paper-lantern img{
	width: 85%;
}

#paper-lantern{
	position: relative;
	width: 520px;
	height: 150px;
	top: 190px;
	left: 730px;
	
	-webkit-animation: flash linear 1.5s infinite;
	animation: flash linear 1.5s infinite;
}

@-webkit-keyframes flash{
	0%{ opacity: 1; }
	50%{ opacity: .60; }
	100%{ opacity: 1; }
}
@keyframes flash{
	0%{ opacity: 1; }
	50%{ opacity: .60; }
	100%{ opacity: 1; }
}

/*ALL CARTS*/
/* #cart-L-container,
#cart-M-container,
#cart-R-container:hover{
} */

/*LEFT CART*/
#left-active img{
	width: 150%;
}

#left-lantern img{
	width: 65%;
}

#cart-L-container{
	position: relative;
	width: 235px;
	height: 375px;
	top: 200px;
	left: 528px;
	/* ;z-index: 6 */
}

#cart-L{
	position: relative;
	width: 235px;
	height: 375px;
	top: -175px;
	left: 528px;
}

#left-active{
	position: absolute;
	opacity: 0;
	top: -55px;
	left: -70px;
}

#left-lantern{
	position: absolute;
	text-align: center;
	z-index: 3;
}

#cart-L-container:hover ~ #cart-L > #left-active{
	opacity: 1;
	-webkit-transition: .75s;
	transition: .75s;
}

/*MIDDLE CART*/
#mid-active img{
	width: 110%;
}

#mid-lantern img{
	width: 45%;
}

#cart-M-container{
	position: relative;
	width: 320px;
	height: 320px;
	top: -490px;
	left: 815px;
	/* z-index: 6; */
}

#cart-M{
	position: relative;
	width: 320px;
	height: 320px;
	top: -810px;
	left: 815px;
}

#mid-active{
	position: absolute;
	opacity: 0;
	top: -50px;
	left: -145px;
}

#mid-lantern{
	position: absolute;
	top: -10px;
	left: -35px;
	z-index: 3;
}

#cart-M-container:hover ~ #cart-M > #mid-active{
	opacity: 1;
	-webkit-transition: .75s;
	transition: .75s;
}

/*RIGHT CART*/
#right-active img{
	width: 110%;
}

#right-lantern img{
	width: 60%;
}

#cart-R-container{
	position: relative;
	width: 235px;
	height: 335px;
	top: -1155px;
	left: 1170px;
	/* z-index: 6; */
}

#cart-R{
	position: relative;
	width: 235px;
	height: 335px;
	top: -1490px;
	left: 1170px;
}

#right-active{
	position: absolute;
	opacity: 0;
	top: -30px;
	left: -170px;
}

#right-lantern{
	position: absolute;
	top: -3px;
	left: -40px;
	z-index: 3;
}

#cart-R-container:hover ~ #cart-R > #right-active{
	opacity: 1;
	-webkit-transition: .75s;
	transition: .75s;
}

/*ARCHWAY LEFT SIDE*/
#left-imgs img{
	z-index: 6;
	width: 100%;
}

#left-imgs{
	position: absolute;
	left: -10px;
}

/*ARCHWAY RIGHT SIDE*/
#right-imgs img{
	z-index: 6;
	width: 100%;
}

#right-imgs{
	position: absolute;
	top: -5px;
	left: 50px;
}

/*VIDEOS*/
#cart-L-vid,
#cart-M-vid,
#cart-R-vid
{
	z-index: 5;
	position: absolute;
	top: 260px;
	left: 450px;
	display: none;
}

.vid-btn{
	z-index: 4;
	position: absolute;
	top: -150px;
	left: 435px;
	cursor: pointer;
	width: 200px;
	height: 60px;
	border: 2px black solid;
	border-radius: 13px;
	font-size: 25px;
}

/*VIDEO TRANSITION*/
/*
#exposure-M img{
	width: 30%;
}

#exposure-M{
	z-index: 4;
	position: absolute;
	top: 405px;
	left: 795px;
	opacity: 0;
}

#exposure-R img{
	width: 30%;
}

#exposure-R{
	z-index: 4;
	position: absolute;
	top: 380px;
	left: 1150px;
	opacity: 0;
}*/

/*RETICLE*/
/* svg{
	-webkit-transform: rotateY(-180deg) rotateZ(-90deg);
	transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle{
  stroke-dasharray: 314px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 6px;
  stroke: #ffcf0f;
  fill: none;
  -webkit-animation: count 2s linear infinite forwards;
  animation: count 2s linear infinite forwards;
}

@-webkit-keyframes count{
  from{
    stroke-dashoffset: 314px;
  }
  to{
    stroke-dashoffset: 0px;
  }
}

@keyframes count{
  from{
    stroke-dashoffset: 314px;
  }
  to{
    stroke-dashoffset: 0px;
  }
} */
/* 
.reticle{
	display: none;
}

#reticle-L{
  position: absolute;
	top: 260px;
	left: 498px;
}

#reticle-M{
  position: absolute;
	top: 320px;
	left: 715px;
}

#reticle-R{
  position: absolute;
	top: 290px;
	left: 1070px;
} */

svg{
	z-index: 6;
    -webkit-transform: rotateY(-180deg) rotateZ(-90deg);
    transform: rotateY(-180deg) rotateZ(-90deg);
}

svg .bg{
  stroke-dasharray: 314px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 6px;
  stroke: #eeeeee;
  fill: none;
}

svg .fg{
  stroke-dasharray: 314px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 6px;
  stroke: #eeeeee;
  fill: none;
}

#cart-L-container, #cart-M-container, #cart-R-container {
	z-index: 7;
}

#cart-L-container:hover ~ svg .fg {
	-webkit-animation: count 2s linear infinite forwards;
  animation: count 2s linear infinite forwards;
}

#cart-M-container:hover ~ svg .fg {
	-webkit-animation: count 2s linear infinite forwards;
  animation: count 2s linear infinite forwards;
}

#cart-R-container:hover ~ svg .fg {
	-webkit-animation: count 2s linear infinite forwards;
  animation: count 2s linear infinite forwards;
}

.circle {
	position: absolute;
}

@-webkit-keyframes count{
  from{
    stroke-dashoffset: 314px;
		stroke: #ffcf0f;
  }
  to{
    stroke-dashoffset: 0px;
		stroke: #ffcf0f;
  }
}
@keyframes count{
  from{
    stroke-dashoffset: 314px;
		stroke: #ffcf0f;
  }
  to{
    stroke-dashoffset: 0px;
		stroke: #ffcf0f;
  }
}