@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400|PT+Serif:700");
html {
  overflow-x: hidden;
  overflow-y: hidden; }

body {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px; }

.wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.background-img {
  background-color: #f0eceb;
  background-image: url("../img/Collage_Background.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh; }

.side_panel {
  position: relative;
  height: 80vh;
  width: 300px;
  margin-top: 10vh;
  z-index: 3;
  background-color: #e0d9d7;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }

.initial_content {
  padding: 40px;
  position: absolute;
  top: 200px;
  width: 220px; }
  .initial_content .title {
    font-size: 2rem;
    padding: 20px 0px;
    font-weight: bold;
    font-family: "PT Serif", serif;
    letter-spacing: 1px; }
  .initial_content .instructions {
    line-height: 30px; }

#left_panel {
  position: absolute;
  top: 0;
  left: 0; }

#right_panel {
  position: absolute;
  top: 0;
  right: 0; }

.magnify_glass {
  text-align: center;
  float: left;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25); }

#glass_1 {
  background: transparent;
  position: absolute;
  top: 200px;
  left: 240px;
  -webkit-transform-origin: center;
  transform-origin: center;
  border-radius: 50%;
  border: solid #788c71 5px;
  color: white;
  z-index: 5;
  transition: transform .25s ease; }

#glass_2 {
  background: transparent;
  position: absolute;
  top: 200px;
  right: 240px;
  -webkit-transform-origin: center;
  transform-origin: center;
  border-radius: 50%;
  border: solid #ebce50 5px;
  color: black;
  z-index: 5;
  transition: transform .25s ease; }

.info_bar_left {
  display: block;
  position: absolute;
  top: 50px;
  left: 30px;
  width: 240px;
  height: auto; }
  .info_bar_left .info_image {
    width: 100%;
    height: 100px;
    display: block;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .info_bar_left .info_content {
    width: 100%;
    display: block;
    text-align: left;
    padding: 30px 0px;
    line-height: 30px; }

.info_bar_right {
  display: block;
  position: absolute;
  top: 50px;
  left: 30px;
  width: 240px;
  height: auto; }
  .info_bar_right .info_image {
    width: 100%;
    height: 100px;
    display: block;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .info_bar_right .info_content {
    width: 100%;
    display: block;
    text-align: left;
    padding: 30px 0px;
    line-height: 30px; }

#v {
  position: absolute;
  width: 200px;
  height: 300px;
  top: 200px;
  left: 500px;
  z-index: 1; }

#v_image {
  background: url("../img/v-small.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 150px;
  transition: transform .25s ease; }

#flower {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 700px;
  right: 400px;
  transform: rotate(15deg);
  z-index: 1; }

#flower_image {
  background: url("../img/flower.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 250px;
  height: 300px;
  transition: transform .25s ease; }

/*# sourceMappingURL=style.css.map */
