@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400|PT+Serif:700");
@import url("https://use.typekit.net/hpj7hvn.css");
html {
  overflow-x: hidden;
  overflow-y: hidden; }

body {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px; }

.wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f0eceb;
  background-image: url("../img/bg-with-leaves.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.collage_bg {
  position: relative;
  top: 0;
  left: 20vw;
  width: 60vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f0eceb;
  background-image: url("../img/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.side_panel {
  position: relative;
  height: 80vh;
  width: 425px;
  margin-top: 8vh;
  z-index: 3;
  background-color: #f0eceb;
  -webkit-box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 0.5); }

.color_code {
  width: 450px;
  height: 40vh;
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.7); }

.initial_content {
  position: absolute;
  width: 425px;
  height: 100%; }
  .initial_content .initial-dots {
    width: 80%;
    height: 150px;
    background-image: url("../img/dots.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 150px;
    left: 20px; }
  .initial_content .initial-zigzag {
    width: 45%;
    height: 150px;
    background-image: url("../img/zigzag.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 125px;
    right: 40px; }
  .initial_content .content-wrap {
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%; }
    .initial_content .content-wrap .title {
      font-size: 2rem;
      padding: 20px 0;
      font-weight: bold;
      font-family: "Kepler Std", serif;
      letter-spacing: 1px; }
    .initial_content .content-wrap .instructions {
      line-height: 30px; }

#left_instruct .title {
  color: #a64a60; }

#right_instruct .title {
  color: #4961a5; }

#left_panel {
  position: absolute;
  top: 0;
  left: 0; }

#right_panel {
  position: absolute;
  top: 0;
  right: 0; }

#code_red {
  background-color: #a64a60;
  left: 0;
  top: 30vh; }

#code_blue {
  background-color: #4961a5;
  right: 0;
  top: 30vh; }

.magnify_glass {
  text-align: center;
  float: left;
  width: 100px;
  height: 100px;
  z-index: 10;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25); }

#glass_1 {
  background: transparent;
  position: absolute;
  top: 650px;
  left: 295px;
  -webkit-transform-origin: center;
  transform-origin: center;
  border-radius: 50%;
  border: solid #a64a60 6px;
  color: white;
  transition: transform 0.25s ease; }

#glass_2 {
  background: transparent;
  position: absolute;
  top: 650px;
  left: 1770px;
  -webkit-transform-origin: center;
  transform-origin: center;
  border-radius: 50%;
  border: solid #4961a5 6px;
  color: black;
  transition: transform 0.25s ease; }

.info_bar_left {
  display: block;
  position: absolute;
  top: 30px;
  left: 0px;
  width: 425px;
  height: auto; }
  .info_bar_left .info_image {
    width: 270px;
    height: 450px;
    display: block;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .info_bar_left .info_content {
    width: 350px;
    display: block;
    text-align: left;
    padding: 30px 40px;
    line-height: 30px; }
    .info_bar_left .info_content .info_content_wrap {
      font-size: 14px;
      padding-top: 20px; }
    .info_bar_left .info_content .info_content_title {
      font-size: 2rem;
      color: #a64a60;
      padding: 40px 0px 0px;
      font-weight: bold;
      font-family: "Kepler Std", serif;
      letter-spacing: 1px; }
    .info_bar_left .info_content .info_content_subtitle {
      font-size: 1.25rem;
      color: #a64a60;
      padding: 0px;
      font-weight: bold;
      font-family: "Kepler Std", serif;
      letter-spacing: 1px; }

.info_bar_right {
  display: block;
  position: absolute;
  top: 30px;
  left: 0px;
  width: 425px;
  height: auto; }
  .info_bar_right .info_image {
    width: 270px;
    height: 450px;
    display: block;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .info_bar_right .info_content {
    width: 350px;
    display: block;
    text-align: left;
    padding: 30px 40px;
    line-height: 30px; }
    .info_bar_right .info_content .info_content_wrap {
      font-size: 14px;
      padding-top: 20px; }
    .info_bar_right .info_content .info_content_title {
      font-size: 2rem;
      color: #4961a5;
      padding: 40px 0px 0px;
      font-weight: bold;
      font-family: "Kepler Std", serif;
      letter-spacing: 1px; }
    .info_bar_right .info_content .info_content_subtitle {
      font-size: 1.25rem;
      color: #4961a5;
      padding: 0px;
      font-weight: bold;
      font-family: "Kepler Std", serif;
      letter-spacing: 1px; }

#len_1 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: 0px;
  left: 1175px;
  z-index: 1; }

#len_1_image {
  background: url("../img/Len_Mother.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 300px;
  transition: transform 0.25s ease; }

#len_2 {
  position: absolute;
  width: 700px;
  height: 600px;
  top: -115px;
  left: 550px;
  z-index: 1; }

#len_2_image {
  background: url("../img/Len_Building1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 700px;
  height: 600px;
  transition: transform 0.25s ease; }

#len_3 {
  position: absolute;
  width: 300px;
  height: 350px;
  top: 205px;
  left: 1135px;
  z-index: 1; }

#len_3_image {
  background: url("../img/Len_Grandmother.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 350px;
  transition: transform 0.25s ease; }

#len_4 {
  position: absolute;
  width: 445px;
  height: 525px;
  bottom: 0px;
  left: 700px;
  z-index: 1; }

#len_4_image {
  background: url("../img/Len_Building2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 445px;
  height: 525px;
  transition: transform 0.25s ease; }

#len_5 {
  position: absolute;
  width: 450px;
  height: 500px;
  bottom: 0px;
  right: 375px;
  z-index: 1; }

#len_5_image {
  background: url("../img/Len_Cars.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 450px;
  height: 500px;
  transition: transform 0.25s ease; }

#len_8 {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 500px;
  left: 950px;
  z-index: 1;
  transform: rotate(260deg); }

#len_8_image {
  background: url("../img/len-8.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 350px;
  height: 300px;
  transition: transform 0.25s ease;
  -webkit-clip-path: polygon(5% 19%, 16% 10%, 26% 0, 49% 6%, 72% 13%, 94% 22%, 95% 46%, 90% 65%, 70% 76%, 23% 88%, 5% 85%, 6% 66%);
  clip-path: polygon(5% 19%, 16% 10%, 26% 0, 49% 6%, 72% 13%, 94% 22%, 95% 46%, 90% 65%, 70% 76%, 23% 88%, 5% 85%, 6% 66%); }

#ange_1 {
  position: absolute;
  width: 200px;
  height: 300px;
  top: 250px;
  right: 700px;
  z-index: 1;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg); }

#ange_1_image {
  background: url("../img/ange-1.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 350px;
  transition: transform 0.25s ease;
  -webkit-clip-path: polygon(7% 43%, 19% 23%, 40% 27%, 50% 26%, 69% 19%, 85% 31%, 80% 54%, 90% 89%, 61% 100%, 28% 95%, 15% 85%, 20% 66%);
  clip-path: polygon(7% 43%, 19% 23%, 40% 27%, 50% 26%, 69% 19%, 85% 31%, 80% 54%, 90% 89%, 61% 100%, 28% 95%, 15% 85%, 20% 66%); }

/*# sourceMappingURL=style.css.map */
