@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400|PT+Serif:700");
html {
  overflow-x: hidden;
  overflow-y: hidden; }

body {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px; }

.wrapper {
  background-color: #f0eceb;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.side_panel {
  height: 100vh;
  width: 400px;
  z-index: 3;
  background-color: #e0d9d7;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }

.initial_content {
  padding: 40px;
  position: absolute;
  top: 200px; }
  .initial_content .title {
    font-size: 2rem;
    padding: 20px 0px;
    font-weight: bold;
    font-family: "PT Serif", serif;
    letter-spacing: 1px; }
  .initial_content .instructions {
    line-height: 30px; }

#left_instruct .title {
  color: #4961a5; }

#right_instruct .title {
  color: #a64a60; }

#left_panel {
  position: absolute;
  top: 0;
  left: 0; }

#right_panel {
  position: absolute;
  top: 0;
  right: 0; }

.magnify_glass {
  text-align: center;
  float: left;
  width: 60px;
  height: 60px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }

#glass_1 {
  background: transparent;
  position: absolute;
  top: 50px;
  left: 365px;
  -webkit-transform-origin: center;
  transform-origin: center;
  border-radius: 50%;
  border: solid #4961a5 5px;
  color: white;
  z-index: 5;
  transition: transform .25s ease; }

#glass_2 {
  background: transparent;
  position: absolute;
  top: 50px;
  right: 365px;
  -webkit-transform-origin: center;
  transform-origin: center;
  border-radius: 50%;
  border: solid #a5495f 5px;
  color: black;
  z-index: 5;
  transition: transform .25s ease; }

.info_content {
  line-height: 30px; }
  .info_content div {
    padding: 10px 0px; }

#v {
  position: absolute;
  width: 100px;
  height: 150px;
  top: 200px;
  left: 700px;
  z-index: 1; }

#v_image {
  background: url("../img/v.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 70px;
  transition: transform .25s ease; }

.v_info {
  width: 320px;
  height: 100vh;
  padding: 40px;
  background: transparent;
  color: #000;
  position: absolute;
  z-index: 3;
  top: 0;
  display: none; }
  .v_info .info_image {
    background-image: url("../img/v.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px 0px 20px;
    width: 100%;
    height: 80px;
    top: 0; }

#flower {
  position: absolute;
  width: 100px;
  height: 150px;
  top: 300px;
  left: 800px;
  z-index: 1; }

#flower_image {
  background: url("../img/flower.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 240px;
  height: 280px;
  transition: transform .25s ease; }

.flower_info {
  width: 320px;
  height: 100vh;
  padding: 40px;
  background: transparent;
  color: #000;
  position: absolute;
  z-index: 3;
  top: 0;
  display: none; }
  .flower_info .info_image {
    background-image: url("../img/flower.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px 0px 20px;
    width: 100%;
    height: 80px;
    top: 0; }

/*# sourceMappingURL=style.css.map */
