@import 'var.scss';
@import url('https://fonts.googleapis.com/css?family=Dosis');
body{
  background-color: $background;
  font-family: 'Dosis', monospace;
  font-size: 16px;

}

.wrapper{
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.dropzone{
	width: 400px;
	height: 200px;
  position: absolute;
  z-index: -2;
  bottom: 100px;
  left: 50%;
  margin-left: -200px;
	background-color: transparent;
	border-style: dotted;
	border-color: $rouge;
  border-width: 2px;
  text-align: center;
  font-size: 14px;
  padding: 10px;
}
.drop-active {
  border-color: $forest;
}

.example_block{
  text-align: center;
  float: left;
  width: 250px;
  height: 150px;
  padding: 10px 0px 30px;
-webkit-transition: width .5s ease;
transition: width .5s ease;
-webkit-transition: height .5s ease;
transition: height .5s ease;

}

#photo_1{
	background: $forest;
	background-position: center center;
	background-size:auto;
	background-repeat: no-repeat;
	position: absolute;
	top: 100px;
	left: 200px;
  transform-origin: center;
	color: white;
  #photo_1_text{
    color: black;
    position: absolute;
    background-color: $foreground;
    padding: 5px 0px;
    bottom: 0;
    width: 100%;
    height: 20px;
    display: none;
    font-size: 10px;
  }
}

#photo_2{
	background: $yellow;
	background-position: center center;
	background-size:auto;
	background-repeat: no-repeat;
	position: absolute;
	top: 120px;
	left: 400px;
  transform-origin: center;

	color: black;
  #photo_2_text{
    color: black;
    position: absolute;
    background-color: $foreground;
    padding: 5px 0px;
    bottom: 0;
    width: 100%;
    height: 20px;
    display: none;
    font-size: 10px;
  }
}


.dropped-element{
  -webkit-transform:scale(2);
          transform:scale(2);
}
.removed-element{
  -webkit-transform: scale(1);
          transform: scale(1);
}
