@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400|PT+Serif:700");
@import url("https://use.typekit.net/hpj7hvn.css");
html {
  overflow-x: hidden;
  overflow-y: hidden; }

body {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  transition: all 200ms ease-in-out; }

.wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f0eceb; }

.collage_bg {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f0eceb;
  background-image: url("../img/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.side_panel {
  position: relative;
  height: 80vh;
  width: 440px;
  margin-top: 8vh;
  z-index: 15;
  background-color: #f0eceb;
  -webkit-box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.5); }

.left_reset {
  background: url("../img/sides/Red_Reset.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 160px;
  height: 100px;
  position: absolute;
  top: 77%;
  left: 5.3%;
  z-index: 20;
  cursor: pointer; }

.right_reset {
  background: url("../img/sides/Green_Reset.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 160px;
  height: 100px;
  position: absolute;
  top: 77%;
  right: 5.6%;
  z-index: 20;
  cursor: pointer; }

#left_panel .black_bar {
  position: relative;
  left: 15px;
  float: right;
  background-color: #1c2b3c;
  height: 100%;
  width: 15px;
  z-index: 3; }

#right_panel .black_bar {
  position: relative;
  right: 15px;
  float: left;
  background-color: #1c2b3c;
  height: 100%;
  width: 15px;
  z-index: 3; }

.initial_content {
  position: absolute;
  width: 440px;
  height: 100%;
  transition: all 200ms ease-in; }
  .initial_content .initial-dots {
    width: 80%;
    height: 150px;
    background-image: url("../img/dots.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 150px;
    left: 20px; }
  .initial_content .initial-zigzag {
    width: 45%;
    height: 150px;
    background-image: url("../img/zigzag.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 125px;
    right: 40px; }
  .initial_content .content-wrap {
    padding: 60px;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    max-width: 100%; }
    .initial_content .content-wrap .title {
      font-size: 5rem;
      padding: 20px 0;
      font-weight: bold;
      font-family: "Kepler Std", serif;
      letter-spacing: 1px; }
    .initial_content .content-wrap .instructions {
      line-height: 3rem;
      font-size: 1.5rem;
      margin-top: 20%; }
    .initial_content .content-wrap .underline {
      background: url("../img/sides/Navy_Lines@4x.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 80px;
      height: 30px;
      position: absolute;
      top: 37%;
      left: 15%; }

#right_instruct .title {
  color: #788c71; }
#right_instruct .bolded {
  color: #788c71;
  font-weight: bold; }

#left_instruct .title {
  color: #a64a60; }
#left_instruct .bolded {
  color: #a64a60;
  font-weight: bold; }

#left_panel {
  position: absolute;
  top: 0;
  left: 0; }

#right_panel {
  position: absolute;
  top: 0;
  right: 0; }

#code_green_one {
  right: -160px;
  top: 35px; }

#code_green_two {
  right: 0px;
  bottom: 85px; }

#code_red_one {
  left: 75px;
  top: 65px; }

#code_red_two {
  left: 0px;
  bottom: 100px; }

#block {
  display: none;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: fixed; }

.magnify_glass {
  text-align: center;
  float: left;
  width: 100px;
  height: 100px;
  z-index: 20;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25); }

#glass_2 {
  background: transparent;
  position: absolute;
  top: 930px;
  left: 2263px;
  -webkit-transform-origin: center;
  transform-origin: center;
  border-radius: 50%;
  border: solid #788c71 20px;
  color: white;
  transform-origin: center; }

#glass_1 {
  background: transparent;
  position: absolute;
  top: 930px;
  left: 142px;
  -webkit-transform-origin: center;
  transform-origin: center;
  border-radius: 50%;
  border: solid #a64a60 20px;
  color: #1c2b3c;
  transform-origin: center; }

.info_bar_left {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 440px;
  height: 100%;
  transition: all 200ms ease-in; }
  .info_bar_left .info_name {
    font-family: "Kepler Std", serif;
    font-weight: bold;
    color: #1c2b3c;
    font-size: 65px;
    margin: 90px 0px 10px 30px;
    z-index: 5; }
  .info_bar_left .info_image {
    width: 100%;
    height: 400px;
    display: none;
    margin: 0 auto 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 6px 10px 0px rgba(179, 179, 179, 0.55);
    z-index: 10; }
  .info_bar_left .info_content {
    width: 320px;
    display: block;
    text-align: left;
    padding: 30px 30px;
    line-height: 30px;
    position: absolute;
    margin-top: 50px;
    top: 500px; }
    .info_bar_left .info_content .info_content_wrap {
      font-size: 18px;
      padding-top: 20px;
      margin-top: 25px; }
    .info_bar_left .info_content .info_content_title {
      font-size: 1.3rem;
      color: #a64a60;
      padding: 40px 0 0;
      font-weight: bold;
      font-family: "Montserrat";
      text-transform: uppercase;
      letter-spacing: 3px; }
  .info_bar_left .extras .name_circle {
    background: url("../img/sides/Red_Circle@4x.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 485px;
    left: 23px;
    z-index: -1; }
  .info_bar_left .extras .name_lines {
    background: url("../img/sides/Navy_Lines@4x.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 20px;
    position: absolute;
    top: 560px;
    left: 30px; }
  .info_bar_left .extras .misc {
    background: url("../img/sides/Red_Circle_Lines@4x.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 440px;
    left: 300px; }
  .info_bar_left .extras .underlines {
    width: 20px;
    border: 1px solid #1c2b3c;
    position: absolute;
    top: 660px;
    left: 7%; }

.info_bar_right {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 440px;
  height: 100%;
  transition: all 200ms ease-in; }
  .info_bar_right .info_name {
    font-family: "Kepler Std", serif;
    font-weight: bold;
    color: #1c2b3c;
    font-size: 65px;
    margin: 90px 0px 10px 30px;
    z-index: 5; }
  .info_bar_right .info_image {
    width: 100%;
    height: 400px;
    display: none;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 6px 10px 0px rgba(179, 179, 179, 0.55);
    z-index: 10; }
  .info_bar_right .info_content {
    width: 320px;
    display: block;
    text-align: left;
    padding: 30px 30px;
    line-height: 30px;
    position: absolute;
    margin-top: 50px;
    top: 500px; }
    .info_bar_right .info_content .info_content_wrap {
      font-size: 18px;
      padding-top: 20px;
      margin-top: 25px; }
    .info_bar_right .info_content .info_content_title {
      font-size: 1.3rem;
      color: #788c71;
      padding: 40px 0 0;
      font-weight: bold;
      font-family: "Montserrat";
      text-transform: uppercase;
      letter-spacing: 3px; }
  .info_bar_right .extras .name_circle {
    background: url("../img/sides/Green_Circle@4x.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 475px;
    left: 24px;
    z-index: -1; }
  .info_bar_right .extras .name_lines {
    background: url("../img/sides/Navy_Lines@4x.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 20px;
    position: absolute;
    top: 560px;
    left: 30px; }
  .info_bar_right .extras .misc {
    background: url("../img/sides/Green_Lines@4x.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 440px;
    left: 300px; }
  .info_bar_right .extras .underlines {
    width: 20px;
    border: 1px solid #1c2b3c;
    position: absolute;
    top: 660px;
    left: 7%; }

#len_1 {
  position: absolute;
  width: 332px;
  height: 450px;
  bottom: 580px;
  right: 695px;
  z-index: 3; }

#len_1_image {
  background: url("../img/Len_Mother.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 332px;
  height: 450px;
  transition: transform 0.25s ease; }

#len_2 {
  position: absolute;
  width: 509px;
  height: 404px;
  top: -50px;
  right: 320px;
  z-index: 1; }

#len_2_image {
  background: url("../img/Len_Building1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 509px;
  height: 404px;
  transition: transform 0.25s ease; }

#len_3 {
  position: absolute;
  width: 400px;
  height: 480px;
  bottom: -110px;
  right: 380px;
  z-index: 1; }

#len_3_image {
  background: url("../img/Len_Grandmother.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 480px;
  transition: transform 0.25s ease; }

#len_4 {
  position: absolute;
  width: 600px;
  height: 570px;
  bottom: 115px;
  left: 876px;
  z-index: 1; }

#len_4_image {
  background: url("../img/Len_Building2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 570px;
  transition: transform 0.25s ease; }

#len_5 {
  position: absolute;
  width: 650px;
  height: 437px;
  bottom: -110px;
  right: 867px;
  z-index: 1; }

#len_5_image {
  background: url("../img/Len_Cars.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 650px;
  height: 437px;
  transition: transform 0.25s ease; }

#len_8 {
  position: absolute;
  width: 565px;
  height: 391px;
  top: 148px;
  left: 912px;
  z-index: 1; }

#len_8_image {
  background: url("../img/Len_Road.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 595px;
  height: 391px;
  transition: transform 0.25s ease; }

#ange_1 {
  position: absolute;
  width: 540px;
  height: 185px;
  top: 390px;
  left: 1060px;
  z-index: 1; }

#ange_1_image {
  background: url("../img/Ange_Baby.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 540px;
  height: 315px;
  transition: transform 0.25s ease; }

#ange_2 {
  position: absolute;
  width: 625px;
  height: 225px;
  top: 330px;
  left: 400px;
  z-index: 1; }

#ange_2_image {
  background: url("../img/Ange_Child.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 575px;
  height: 530px;
  transition: transform 0.25s ease; }

#ange_3 {
  position: absolute;
  width: 600px;
  height: 460px;
  bottom: -50px;
  left: 310px;
  z-index: 1; }

#ange_3_image {
  background: url("../img/Ange_Kiss.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 460px;
  transition: transform 0.25s ease; }

#ange_4 {
  position: absolute;
  width: 268px;
  height: 410px;
  top: -25px;
  right: 860px;
  z-index: 1; }

#ange_4_image {
  background: url("../img/Ange_Sign.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 268px;
  height: 410px;
  transition: transform 0.25s ease; }

#ange_5 {
  position: absolute;
  width: 270px;
  height: 370px;
  top: 465px;
  right: 400px;
  z-index: 1; }

#ange_5_image {
  background: url("../img/Ange_Stitch.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 270px;
  height: 370px;
  transition: transform 0.25s ease; }

/*# sourceMappingURL=style.css.map */
