@import 'var.scss';
///////////////////////////////////////////////
//Base styles
///////////////////////////////////////////////

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 16px;
}

.wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $foreground;
	background-image: url('../img/bg-with-leaves.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.collage_bg{
	position: relative;
    top: 0;
	left: 15vw;
	width: 70vw;
	height: 100vh;
	overflow: hidden;
	background-color: $foreground;
   background-image: url('../img/Background.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}
///////////////////////////////////////////////
//Generic Class Styles
///////////////////////////////////////////////

.side_panel {
    position: relative;
    height: 80vh;
    width: 425px;
    margin-top: 8vh;
    z-index: 15;
    background-color: $foreground;
	-webkit-box-shadow: 8px 8px 30px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 8px 8px 30px 0px rgba(0,0,0,0.5);
box-shadow: 8px 8px 30px 0px rgba(0,0,0,0.5);
}

.color_code{
    width:450px;
    height: 40vh;
    position: absolute;
    z-index: 14;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.7);
-moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.7);
box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.7);
}

.initial_content {
    position: absolute;
    width: 425px;
    height: 100%;
    .initial-dots{
        width: 80%;
        height: 150px;
        background-image: url('../img/dots.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 150px;
        left: 20px;
    }
    .initial-zigzag{
        width: 45%;
        height: 150px;
        background-image: url('../img/zigzag.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 125px;
        right: 40px;
    }
    .content-wrap{
        padding: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 100%;
        .title {
            font-size: 2rem;
            padding: 20px 0;
            font-weight: bold;
            font-family: $kepler;
            letter-spacing: 1px;
        }

        .instructions {
            line-height: 30px;
        }
    }

}
///////////////////////////////////////////////
//Specific Background Element styles
///////////////////////////////////////////////
//

#left_instruct {
    .title {
        color: $rouge;
    }
}

#right_instruct {
    .title {
        color: $blue;
    }
}

#left_panel {
    position: absolute;
    top: 0;
    left: 0;
}

#right_panel {
    position: absolute;
    top: 0;
    right: 0;
}

#code_red{
    background-color: $rouge;
    left:0;
    top: 30vh;
}

#code_blue{
    background-color: $blue;
    right: 0;
    top: 30vh;
}
///////////////////////////////////////////////
//User Magnifying glass Styles
///////////////////////////////////////////////

.magnify_glass {
    text-align: center;
    float: left;
    width: 100px;
    height: 100px;
    z-index: 20;
    -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
}

#glass_1 {
    background: transparent;
    position: absolute;
    top: 650px;
    left: 295px;
    -webkit-transform-origin: center;
    transform-origin: center;
    border-radius: 50%;
    border: solid $rouge 6px;
    color: white;
    transition: transform 0.25s ease;
}

#glass_2 {
    background: transparent;
    position: absolute;
    top: 650px;
    left: 1770px;
    -webkit-transform-origin: center;
    transform-origin: center;
    border-radius: 50%;
    border: solid $blue 6px;
    color: black;
    transition: transform 0.25s ease;
}
///////////////////////////////////////////////
//Side bar info
///////////////////////////////////////////////

.info_bar_left {
    display: block;
    position: absolute;
    top: 30px;
    left: 0px;
    width: 425px;
    height: auto;

    .info_image {
        width: 270px;
        height: 450px;
        display: block;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .info_content {
        width: 350px;
        display: block;
        text-align: left;
        padding: 30px 40px;
        line-height: 30px;
        .info_content_wrap{
            font-size: 14px;
            padding-top: 20px;
        }
        .info_content_title{
            font-size: 2rem;
            color: $rouge;
            padding: 40px 0px 0px;
            font-weight: bold;
            font-family: $kepler;
            letter-spacing: 1px;
        }
        .info_content_subtitle{
            font-size: 1.25rem;
            color: $rouge;
            padding: 0px;
            font-weight: bold;
            font-family: $kepler;
            letter-spacing: 1px;
        }
    }
}

.info_bar_right {
    display: block;
    position: absolute;
    top: 30px;
    left: 0px;
    width: 425px;
    height: auto;

    .info_image {
        width: 270px;
        height: 450px;
        display: block;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .info_content {
        width: 350px;
        display: block;
        text-align: left;
        padding: 30px 40px;
        line-height: 30px;
        .info_content_wrap{
            font-size: 14px;
            padding-top: 20px;
        }
        .info_content_title{
            font-size: 2rem;
            color: $blue;
            padding: 40px 0px 0px;
            font-weight: bold;
            font-family: $kepler;
            letter-spacing: 1px;
        }
        .info_content_subtitle{
            font-size: 1.25rem;
            color: $blue;
            padding: 0px;
            font-weight: bold;
            font-family: $kepler;
            letter-spacing: 1px;
        }
    }
}
///////////////////////////////////////////////
//Len 1 Element
///////////////////////////////////////////////

#len_1 {
    position: absolute;
    width: 200px;
    height: 300px;
    bottom: 0px;
    left: 1175px;
    z-index: 1;
}

#len_1_image {
    background: url('../img/Len_Mother.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
    transition: transform 0.25s ease; //crops image
}
///////////////////////////////////////////////
//len 2 Element
///////////////////////////////////////////////

#len_2 {
    position: absolute;
    width: 700px;
    height: 600px;
    top: -115px;
    left: 550px;
    z-index: 1;
}

#len_2_image {
    background: url('../img/Len_Building1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 700px;
    height: 600px;
    transition: transform 0.25s ease;
   }
///////////////////////////////////////////////
//Len 3 Element
///////////////////////////////////////////////

#len_3 {
    position: absolute;
    width: 300px;
    height: 350px;
    top: 205px;
    left: 1135px;
    z-index: 1;
}

#len_3_image {
    background: url('../img/Len_Grandmother.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 350px;
    transition: transform 0.25s ease;
}
///////////////////////////////////////////////
//len 4 Element
///////////////////////////////////////////////

#len_4 {
    position: absolute;
    width: 445px;
    height: 525px;
    bottom: 0px;
    left: 700px;
    z-index: 1;
}

#len_4_image {
    background: url('../img/Len_Building2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 445px;
    height: 525px;
    transition: transform 0.25s ease;
    }
///////////////////////////////////////////////
//len 5 Element
///////////////////////////////////////////////

#len_5 {
    position: absolute;
    width: 450px;
    height: 500px;
    bottom: 0px;
    right: 295px;
    z-index: 1;
}

#len_5_image {
    background: url('../img/Len_Cars.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 450px;
    height: 500px;
    transition: transform 0.25s ease;
    }
///////////////////////////////////////////////
//len 8 Element
///////////////////////////////////////////////

#len_8 {
    position: absolute;
    width: 455px;
    height: 320px;
    top: 245px;
    right: 325px;
    z-index: 1;

}

#len_8_image {
    background: url('../img/Len_Road.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 455px;
    height: 320px;
    transition: transform 0.25s ease;
    }
///////////////////////////////////////////////
//Angee 1 Element
///////////////////////////////////////////////

#ange_1 {
    position: absolute;
    width: 250px;
    height: 200px;
    bottom: 20px;
    left: 450px;
    z-index: 1;
    }

#ange_1_image {
    background: url('../img/Ange_Baby.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
    transition: transform 0.25s ease; //crops image
 }

 ///////////////////////////////////////////////
 //Angee 2 Element
 ///////////////////////////////////////////////

 #ange_2 {
     position: absolute;
     width: 600px;
     height: 500px;
     top: 200px;
     left: 250px;
     z-index: 1;
     }

 #ange_2_image {
     background: url('../img/Ange_Child.png');
     background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
     width: 600px;
     height: 500px;
     transition: transform 0.25s ease; //crops image
  }

  //////////////////////////////////////////////
  //Angee 2 Element
  ///////////////////////////////////////////////

  #ange_3 {
      position: absolute;
      width: 250px;
      height:200px;
      top: 50px;
      right: 300px;
      z-index: 1;
      }

  #ange_3_image {
      background: url('../img/Ange_Kiss.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 250px;
      height: 200px;
      transition: transform 0.25s ease; //crops image
   }
