@import 'var.scss';

///////////////////////////////////////////////
//Base styles
///////////////////////////////////////////////

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
}

.wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('../img/BG.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.bg_flower_1{
  position: absolute;
  z-index: 5;
  top:0;
  right:0;
  background-image: url('../img/FLOWER01.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 430px;
  height: 250px;
}

.bg_flower_2{
  position: absolute;
  z-index: 5;
  bottom:0;
  left:0;
  background-image: url('../img/FLOWER02.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 430px;
  height: 430px;
}

///////////////////////////////////////////////
//Generic Class Styles
///////////////////////////////////////////////

.side_panel{
  position: relative;
  height: 65vh;
  width: 350px;
  margin-top: 15vh;
  z-index: 3;
  background-color: $foreground;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.initial_content{
  padding: 40px;
  position:absolute;
  top: 200px;
  width: 270px;
  .title{
    font-size: 2rem;
    padding: 20px 0px;
    font-weight: bold;
    font-family: $pt_serif;
    letter-spacing: 1px;
  }
  .instructions{
    line-height: 30px;
  }
}

///////////////////////////////////////////////
//Specific Background Element styles
///////////////////////////////////////////////
//
#left_instruct{
  .title{
    color: $rouge;
  }
}

#right_instruct{
  .title{
    color: $blue;
  }
}

#left_panel{
  position: absolute;
  top:0;
  left:0;
}

#right_panel{
  position: absolute;
  top:0;
  right: 0;
}

///////////////////////////////////////////////
//User Magnifying glass Styles
///////////////////////////////////////////////

.magnify_glass {
  text-align: center;
  float: left;
  width: 100px;
  height: 100px;
  -webkit-box-shadow:
	0 0 7px 2px rgba(0, 0, 0, 0.25),
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  box-shadow:
	0 0 7px 2px rgba(0, 0, 0, 0.25),
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
}

#glass_1 {
  background: transparent;
  position: absolute;
  top: 200px;
  left: 295px;
  -webkit-transform-origin: center;
  transform-origin: center;
  border-radius: 50%;
  border: solid $rouge 6px;
  color: white;
  z-index: 5;
   transition: transform .25s ease;
}

#glass_2 {
  background: transparent;
  position: absolute;
  top: 200px;
  left: 1755px;
  -webkit-transform-origin: center;
  transform-origin: center;
  border-radius: 50%;
  border: solid $blue 6px;
  color: black;
  z-index: 5;
   transition: transform .25s ease;
}

///////////////////////////////////////////////
//Side bar info
///////////////////////////////////////////////
.info_bar_left{
  display: block;
  position: absolute;
  top: 50px;
  left: 30px;
  width:270px;
  height: auto;
  .info_image{
    width: 100%;
    height: 200px;
    display: block;
    margin:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .info_content{
    width: 100%;
    display: block;
    text-align: left;
    padding: 30px 0px;
    line-height: 30px;
  }
}

.info_bar_right{
  display: block;
  position: absolute;
  top: 50px;
  left: 30px;
  width:270px;
  height: auto;
  .info_image{
    width: 100%;
    height: 200px;
    display: block;
    margin:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .info_content{
    width: 100%;
    display: block;
    text-align: left;
    padding: 30px 0px;
    line-height: 30px;
  }
}


///////////////////////////////////////////////
//Bird Element
///////////////////////////////////////////////

#bird {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 200px;
  left: 400px;
  z-index: 1;
  transform: rotateY(180deg);
}

#bird_image {
  background: url('../img/bird.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  transition: transform .25s ease;
}

///////////////////////////////////////////////
//Flower Element
///////////////////////////////////////////////

#bass {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 700px;
  right: 550px;
  z-index: 1;
}

#bass_image {
  background: url('../img/bass.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 250px;
  height: 300px;
  transition: transform .25s ease;
}

///////////////////////////////////////////////
//Leaf Element
///////////////////////////////////////////////

#stamp {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 200px;
  right: 600px;
  z-index: 1;
}

#stamp_image{
  background: url('../img/stamp.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 200px;
  transition: transform .25s ease;
}

///////////////////////////////////////////////
//Diver Element
///////////////////////////////////////////////

#diver {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 650px;
  left: 600px;
  z-index: 1;
}

#diver_image{
  background: url('../img/diver.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  transition: transform .25s ease;
}
