$rouge: #a64a60;
$yellow: #ebce50;
$forest: #788c71;
$blue: #4961a5;
$navy: #1c2b3c;
$foreground: #f0eceb;
$background: #e0d9d7;

//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|PT+Serif:700');
@import url("https://use.typekit.net/hpj7hvn.css");
$kepler: 'Kepler Std', serif;
$mont_reg: 'Montserrat';
$mont_light:  'Montserrat';
